/*----------Variables*/
:root
{
    --pixel-unit : 0.75px;
}


/*----------Elements*/
html, body
{
    padding : 0;
    margin : 0;
    font-family : "Archivo Narrow", sans-serif;
    font-size : 18px;
    scroll-behavior : smooth;
}

body
{
    overflow-x : hidden;
    overflow-y : hidden;
    text-size-adjust : none;
    background : rgb(15, 60, 134);
}

body * > *:not(.selectable, code),
.unselectable
{
    -moz-user-select : none;
    -khtml-user-select : none;
    -webkit-user-select : none;
    -ms-user-select : none;
    user-select : none;
}

/*-----Sections*/
header
{
    position : fixed;
    display : flex;
    width : 100%;
    height : calc(60 * var(--pixel-unit));
    padding: 10px 0;
    z-index : 10;
    background : white;
}

main
{
    position : relative;
    overflow-x : hidden;
    overflow-wrap : break-word;
    top : calc(87 * var(--pixel-unit));
    padding : 14px;
    background : linear-gradient(rgb(15, 60, 134), rgba(13, 5, 61));
    color : white;
}

#menu
{
    position : fixed;
    width : 75%;
    height : 100%;
    top : 0;
    left : 0;
    padding : calc(120 * var(--pixel-unit)) 0 14px 0;
    transform : translateX(-100%);
    scroll-behavior : smooth;
    z-index : 9;
    background : white;
    color : black;
}

#menuNav
{
    overflow-y : scroll;
    height : 62%;
}

/*-----Components*/
img:not(.anti-aliased)
{
    image-rendering : -webkit-optimize-contrast;
    image-rendering : crisp-edges;
    image-rendering : pixelated;
    -ms-interpolation-mode : nearest-neighbor;
}

code
{
    display : block;
    overflow : auto;
    max-width : 84vw;
    padding : 12px;
    border-radius : 10px;
    font-size : 12px;
    color : #adbac7;
    background : #22272e;
}

iframe
{
    display : block;
    min-width : 208px;
    border : none;
    background : white;
}

h1, h2
{
    margin : 4px auto 8px;
}

/*Anchors*/
a
{
    color : orange;
}

#menu a
{
    text-decoration : none;
    color : inherit;
}

/*No Script*/
noscript
{
    position : fixed;
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
    z-index : 690;
    display : flex;
    flex-direction : column;
    background : rgba(13, 5, 61);
    color : white;
    pointer-events : all;
}

noscript div
{
    position : relative;
    text-align : center;
    margin : auto;
    animation : linear fadeIO 1s infinite;
}


/*----------Instances*/
/*-----Header and Menu*/
#logo
{
    position : relative;
    display : inline-block;
    margin : auto;
}

#logo img
{
    width : calc(60 * var(--pixel-unit));
}

#sidelogo
{
    position : absolute;
    display : inline-block;
    right : 10px;
    margin : auto;
}

#sidelogo img
{
    width : calc(60 * var(--pixel-unit));
}

#btnMenu
{
    position : absolute;
    overflow : hidden;
    width : calc(60 * var(--pixel-unit));
    height : calc(60 * var(--pixel-unit));
    left : 10px;
    cursor : pointer;
    background : black;
}

#btnMenu img
{
    width : calc(540 * var(--pixel-unit));
}

#menuOverlay
{
    position : fixed;
    width : 100%;
    height : 100%;
    top : 0;
    left : 0;
    padding : calc(120 * var(--pixel-unit)) 14px 0;
    z-index : 8;
    border : none;
}

#menuSiteInfo
{
    position : absolute;
    width : auto;
    padding : 18px;
    top : calc(75vh + (75 * var(--pixel-unit)));
}

/*Socials*/
#menuSocials
{
    position : absolute;
    display : flex;
    width : calc(240 * var(--pixel-unit));
    height : calc(60 * var(--pixel-unit));
    padding : 12px;
    top : 75vh;
}

#menuSocials a
{
    display : block;
    overflow : hidden;
    width : calc(60 * var(--pixel-unit));
    height : calc(60 * var(--pixel-unit));
    margin : auto;
}

#menuSocials img
{
    position : relative;
    width : calc(180 * var(--pixel-unit));
}

#menuBtnTwt
{
    left : calc(-60 * var(--pixel-unit));;
}

#menuBtnInsta
{
    left : calc(-120 * var(--pixel-unit));;
}


/*----------Classes*/
/*-----Markdown*/
.line
{
    margin : 0;
    border : none;
    width : 100%;
    height : 2px;
    background : rgba(255, 255, 255, 0.75);
}

.small-text
{
    font-size : 13px;
}

.quote
{
    width : 87%;
    margin : 16px 0 16px 8px;
    border-left : 3px solid rgba(255, 255, 255, 0.75);
    padding-left : 12px;
}

/*-----Menu*/
.menuList
{
    position : relative;
    width : auto;
    padding : 15px;
    font-size : 22px;
    text-transform : uppercase;
    cursor : pointer;
}

.menuList div
{
    position : absolute;
    display : inline-block;
    overflow : hidden;
    top : 8px;
    right : 12px;
    width : calc(60 * var(--pixel-unit));
    height : calc(60 * var(--pixel-unit));
}

.menuList div img
{
    width : calc(540 * var(--pixel-unit));
}

.menuDropdown
{
    max-height : 0;
    overflow : hidden;
}

.menuSubList
{
    padding : 13px;
    margin-left : 30px;
    font-size : 20px;
    background : rgba(0, 0, 0, 0.13);
}

/*-----FAQ*/
.faq-question
{
    margin : 0;
}

.faq-answer
{
    margin-top : 4px;
}

/*-----Docs Related*/
.doc h3
{
    margin : 16px auto 8px;
}

.doc-embed
{
    overflow : auto;
    margin : 12px auto;
    padding : 12px;
    border : 1px solid white;
    border-radius : 4px;
    color : black;
    background : rgba(255, 255, 255, 0.5);
}

.doc-embed a
{
    color : green;
}

.doc-embed.link-list
{
    color : green;
}

.doc-embed.link-list a
{
    display : block;
    margin : 3px auto;
}

.doc-embed .doc-sublink-list a
{
    display : block;
    margin : 3px auto 3px 24px;
}

/*-----Objects*/
.unselectable
{
    pointer-events : none;
}

.fadeObject
{
    background : rgb(15, 60, 134);
    border : none;
    position : fixed;
    margin : 0;
    padding : 0;
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
    z-index : 420;
    pointer-events : all;
}

.textbtn
{
    display : inline-block;
    margin : auto 8px 8px auto;
    padding : 10px;
    border-radius : 4px;
    cursor : pointer;
    color : white;
    background : black;
}

/*Code Output Frame*/
.codeoutputframe
{
    display : table;
    min-width : 210px;
    margin-bottom : 14px;
    padding : 16px;
    border-radius : 4px;
    background : white;
}

.codeoutputframe .codeframe
{
    overflow : auto;
    max-width : 83vw;
    border : 1px solid black;
    background : rgba(0, 0, 0, 0.25);
}