.panel
{
    background: black;
    width: 260px;
    height: 180px;
    border-radius: 8px;
    padding: 18px;
    overflow: clip;
    position: relative;
    display: block;
    text-decoration: none !important;
    color: white;
}

.panel div
{
    z-index: 2;
    position: relative;
}

.panel .title
{
    font-size: 18px;
    margin-bottom: 13px;
    font-weight: bold;
}

.panel .description
{
    margin-left: 16px;
    padding-right: 8px;
    opacity: 0;
    transition: 0.2s opacity;
    line-height : 22px;
}

.panel:hover .description
{
    opacity: 1;
}

.panel .cover
{
    background: black;
    width: 100%;
    height: 38px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 4px 20px 20px black;
    transition: 0.2s transform;
    transform-origin: top;
}

.panel img
{
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 38px;
    transition: 0.2s all;
    pointer-events: none;
}

.panel-list
{
    display: flex;
    flex-wrap: wrap;
}

.panel-list .panel
{
    margin-right: 10px;
    margin-bottom: 10px;
}

@media only screen and (min-width : 1025px)
{
    .panel .title
    {
        text-shadow: 0 0 8px black;
    }

    .panel:hover .cover
    {
        transform: scaleY(0);
    }

    .panel img
    {
        height: 100%;
        object-fit: cover;
    }

    .panel:hover img
    {
        top: -2px;
        transform: scale(120%, 120%);
        filter: blur(4px);
        opacity: 0.5;
    }
}

@media only screen and (max-width : 1024px)
{
    .panel
    {
        width: 70vw;
        height: auto;
    }

    .panel .title
    {
        margin-top: 40vw;
    }

    .panel .description
    {
        opacity: 1;
    }

    .panel .cover
    {
        box-shadow: 0 -1vw 20px 4vw black;
        height: 100%;
        top: 45vw;
    }

    .panel img
    {
        top: 0;
    }
}