/*----------Keyframes*/
@keyframes fadeIO
{
    0% { opacity : 1.0; }
    
    50% { opacity : 0.0; }
    
    100% { opacity : 1.0; }
}

/*-----Background*/
@keyframes body
{
    0% { background : rgb(15, 60, 134); }
    
    50% { background : rgba(13, 5, 61); }
    
    100% { background : rgb(15, 60, 134); }
}

@keyframes bg
{
    0% { background-position : 0% 0%; }
    
    50% { background-position : 0% 100%; }
    
    100% { background-position : 0% 0%; }
}